body {
	background-color:#F3F3F3;
}
.container {
	margin-top:50px;
}

.title {
	
}

.sec-nav {
	margin-top:90px;
}

.navguide {
	height:50px;
	/* background-color: #99ccff */
}

.dropmenu {
	text-align:align;
	margin-left:80px;
}

.secform {
	margin-top:50px;
	margin-bottom: 100px;
	background-color:#FFFFFF;
	border:2px solid #d4d4d4;
	box-shadow: 1px 1px 1px #e3e7e5;
}
.stationform{
	
}
.imgshow {
	width:160px;
	height:160px;
}
.numstation{
	margin-top: 10px;
	margin-left:40px;
}
.stationary {
	padding-top: 70px;
	
}



.stationbtn {
	margin-top:50px;
}

.i_box{margin:10px 40px;font-size:14px;float:left}
.i_box a{padding:2px 5px;background-color:#e9e9e9;border:1px solid #ccc;text-decoration:none;color:#585858;line-height:20px}
.i_box a:hover,a:focus{color:#000;text-decoration:none;}
.i_box input{width:30px;height:18px;margin:0 8px;padding:2px;border:1px solid #ccc;text-align:center;line-height:16px}

.formabtn {
	width:8%;
}

a.hover,
a.focus {
	text-decoration: none;
}

.footer {
	bottom:0;
	margin-bottom:0;
}
