<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn">
<head>
	{% load staticfiles %}
	 {% block user %}
	 用户名：{% if user %}
	 		{{"未登录"}}
		  {% else %}
	 		{{user.username}}
	 	  {% endif %}
	 {% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>
	{% block title %}
	{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"  type="text/css" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css" />
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- 	<script src="{% static 'js/stationaryload.js' %}"></script> -->
	

</head>
	
<body class="row">
		<div id="container" class="col-md-8 col-md-offset-2 container">
			<header id="header" >
				<div id="title" class="title">
					<h1><p class="text-center">课内交流</p></h1>
				</div>
			</header>
			
			<section id="sec-nav" class="sec-nav">
				<nav id="nav" class="navguide">
					<ul class="nav nav-tabs">
						<li class="col-md-3 text-center active nav_text"><a href="#"><span>文具</span></a></li>
						<li class="col-md-3 text-center nav_text"><a href="#"><span>水果</span></a></li>
						<li class="col-md-3 text-center nav_text"><a href="#"><span>日语</span></a></li>
						<li class="col-md-3 text-center dropdown nav_text">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								加班餐<span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropmenu" role="menu">
								<li><a href="#">套餐一</a></li>
								<li><a href="#">套餐二</a></li>
								<li><a href="#">套餐三</a></li>
								<li><a href="#">套餐四</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</section>
			{% block content %}
			{% endblock %}
			<footer id="footer" class="footer row">
				<div class="col-md-3 col-md-offset-5">
					<label>Copyright©2014 FNST 3-2-2 </label>
				</div>
			</footer>
		</div>
</body>
</html>